/**
 * YouTube Embed Styles
 */

.youtube-embed {
    max-width: 640px;
    margin: 1.5rem auto;
}

.youtube-embed--responsive {
    position: relative;
    padding-top: 56.25%; /* 16:9 aspect ratio */
    overflow: hidden;
}

.youtube-embed--fixed {
    position: relative;
}

.youtube-embed__placeholder {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    display: none;
    align-items: center;
    justify-content: center;
    color: var(--color-fg-body);
    text-align: center;
    padding: 2rem;
}

.youtube-embed__placeholder-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.youtube-embed__placeholder-icon {
    width: 64px;
    height: 64px;
    opacity: 0.8;
}

.youtube-embed__placeholder-text {
    font-size: 1rem;
    margin: 0;
}

.youtube-embed__placeholder-hint {
    font-size: 0.875rem;
    opacity: 0.7;
}

.youtube-embed__iframe {
    display: none;
}

.youtube-embed__iframe--responsive {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.youtube-embed__iframe--fixed {
    width: 640px;
    height: 360px;
}
